/*body*/
body {
  padding: 5%;
  background-color:rgb(181, 221, 218);
}
/*header*/
header {
  background-color: silver;
  text-align: center;
  margin: auto;
  padding: 5%;
}

header > h2 {
 margin: 0;
 color: purple;
 font-size: 20px;
}

/*h1*/
h1 {
  margin:0%;
  color: black;
  font-family: cursive;
}

/*h3*/
h3 {
  text-decoration: underline;
  font-family: cursive;
  color: purple;
}

/*main*/
main {
  color: navy;
}

/*footer*/
footer {
  background-color:silver;
  text-align: center;
}
/*horizontal rule*/

hr {
border: groove rgb(31, 90, 201) 10px;
border-radius: 50%;
}

/*main profile picture*/
.main-image {
  display: inline-block;
  width: 45%;
  vertical-align: middle;
}

.picture {
  height: auto;
  max-width: 100%;
  display:block;
  margin-left: 0;
  margin-right: auto;
}

/*intro, about-me, contact*/
.intro {
    display: inline-block;
    width: 45%;
    vertical-align: middle;
    font-size: 15pt;
    padding: 2%;
}

.intro, .about-me, .contact  {
  text-align: center;
}

/*psuedo class selectors*/
a:link {
  color:rgb(44, 44, 241);
}

a:visited {
  color: white;
}

a:hover {
  color:blueviolet;
}

a:active {
  color: lightgreen;
}

/*list style position*/
ol, ul {
  list-style-position: inside;
}

